@page
@model Pages.About

@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=
  , initial-scale=1.0">
  <title>Razor Pages Master Masterclass - About</title>
</head>
<body>
  <ul>
    <li>
      <a href="~/">Back to Home</a>
    </li>
  </ul>
  <h1>About</h1>
</body>
</html>