@page

@model Pages.Index

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <title>Razor Page Masterclass</title>
</head>
<body>
  @for (var i = 0; i <= 10; i++)
  {
    <p>Item @i</p>
  }
</body>
</html>